.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url('../assets/fondo-apoloIXcode.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }
  
  .spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #FF885B;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 1s linear infinite;
    background-image: url('../assets/appProject3.png');
    background-size: contain;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }